// main: style.less

@main-background: #fafafa;
@button-color: #3eb2af;
@span-color: #56b8a9;
@button-dis-color: #cbcbcb;
@button-color-hover: #137b74;
@button-marked: #f4f8fb;
@main-text-color: #fafafa;
@article-color: hsl(0, 0%, 48%);
@desktop-size: 1440px;
@mobile-size: 375px;
@font: 'Commissioner', sans-serif;
@white-color: #fff;
@black: #000;
@block-background: #fff;
