// main: style.less

@main-background: #fafafa;
@button-color: #3eb2af;
@button-dis-color: #cbcbcb;
@main-text-color: #fafafa;
@button-color-hover: #137b74;
@desktop-size: 1440px;
@mobile-size: 375px;
@font: 'Commissioner', sans-serif;
@white-color: #fff;
@block-background: #fff;
